<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OrangeHRMSuite">
  <listeners>
  	<listener class-name="utilities.Reporting" />
  </listeners>	
  
  <test thread-count="5" name="Test">
	<!--<parameter name="browser"  value="chrome"/> -->
    <classes>
    	
      <class name="testCases.Login_DataDriven">
      <!-- <parameter name="browser"  value="chrome"/> -->
      	<methods>
      		<include name="loginWithDifferentSetOfData"/>
      	</methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
